<div class="user-details">
  <h1> Nuestros Proyectos </h1>
</div>
{% for proyect in site.proyects %}
<div class="user-projects">
  <div class="images-{% cycle "right","left" %}">
    <img alt="mountains" src="{{ proyect.image-sm }}" />
  </div>
  <div class="contents{% cycle "","-right" %}">
    <h3> {{ proyect.title }} </h3>
    <ul>
    {% for cat in proyect.categories %}
      <li>{{ cat }}</li>
    {% endfor %}
    </ul>
    <p>{{proyect.description}}</p>
    <a class="project-link" href="{{proyect.url}}.html">Ver</a>
  </div>
</div>
{% endfor %}